.header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search {
    background-color: transparent;
    flex: 1 1 0;
    min-width: 80px;
    width: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 4px 0;
    padding: 4px 0;
    max-height: 400px;
    overflow-y: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
