.formula {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 8px 12px;
    align-items: center;
    line-height: 1.5;
}

.formulaCode {
    grid-column: 1 / -1;
    font-weight: bold;
}

.formulaSubject {
    text-align: right;
}

.formulaLine {
    background-color: var(--text);
    height: 1px;
    grid-column: 1 / -1;
}

.formulaResult {
    grid-column: -2 / -1;
}
