:root {
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

body,
#root {
    min-width: 1024px;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(151, 151, 151, 0.75);
    border-radius: 4px;
}

*::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

#splash {
    display: none;
}

#root:empty {
    min-height: 0;
    height: 0;
}

#root:empty ~ #splash {
    display: grid;
    height: 100%;
    place-items: center;
    font-size: 24px;
}

svg {
    display: block;
}
